In [31]:
library(dplyr) 
library("RSQLite")
library(data.table)
library("sqldf")

Which are the top 10 players by overall rating?

In [32]:
Data <- read.csv(file="player.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans1 = sqldf('SELECT player_name, overall_rating
FROM DFrame
ORDER BY overall_rating DESC
LIMIT 10')
Ans1

   player_name       overall_rating
1  Lionel Messi      94
2  Gianluigi Buffon  93
3  Wayne Rooney      93
4  Cristiano Ronaldo 93
5  Xavi Hernandez    92
6  Gregory Coupet    92
7  Thierry Henry     91
8  John Terry        91
9  Iker Casillas     91
10 Alessandro Nesta  91

Which are the top 10 goalkeepers by sum of gk attributes?

In [33]:
Data <- read.csv(file="player.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans2 = sqldf('SELECT player_name, gk_rating
FROM DFrame
ORDER BY gk_rating DESC
LIMIT 10')
Ans2

   player_name       gk_rating
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         443
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Paul Robinson     426

Which are the top 10 players by number of appearances (with any team they played with)?

In [34]:
Data <- read.csv(file="player.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans3 = sqldf('SELECT player_name, appearances
FROM DFrame
ORDER BY appearances DESC
LIMIT 10')
Ans3

   player_name          appearances
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

Which are the top 10 players by number of leagues they played in?

In [35]:
Data <- read.csv(file="player.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans4 = sqldf('SELECT player_name, league_no
FROM DFrame
ORDER BY league_no DESC
LIMIT 10')
Ans4

   player_name           league_no
1  Gelson Fernandes      6
2  Ricky van Wolfswinkel 5
3  Filip Djuricic        5
4  Radamel Falcao        4
5  Jonathan De Guzman    4
6  Almen Abdi            4
7  Ibrahim Afellay       4
8  Edson Braafheid       4
9  Eljero Elia           4
10 Danijel Pranjic       4

Which are the top teams by sum of build up play attributes?

In [36]:
Data <- read.csv(file="team.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans5 = sqldf('SELECT team_name, build_up_play
FROM DFrame
ORDER BY build_up_play DESC
LIMIT 10')
Ans5

   team_name            build_up_play
1  GKS Bełchatów        175
2  Sporting Charleroi   175
3  1. FC Kaiserslautern 147
4  1. FC Köln           147
5  1. FC Nürnberg       147
6  1. FSV Mainz 05      147
7  AC Ajaccio           147
8  AC Arles-Avignon     147
9  AC Bellinzona        147
10 ADO Den Haag         147

In [37]:
Data <- read.csv(file="team.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans6 = sqldf('SELECT team_name, chance_creation
FROM DFrame
ORDER BY chance_creation DESC
LIMIT 10')
Ans6

   team_name             chance_creation
1  KV Oostende           200
2  Zagłębie Lubin        200
3  Korona Kielce         184
4  Waasland-Beveren      184
5  Royal Excel Mouscron  166
6  Cracovia              165
7  Oud-Heverlee Leuven   165
8  Jagiellonia Białystok 163
9  Lierse SK             163
10 GKS Bełchatów         160

Which are the top 10 teams by sum of defense attributes?

In [38]:
Data <- read.csv(file="team.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans7 = sqldf('SELECT team_name, defence
FROM DFrame
ORDER BY defence DESC
LIMIT 10')
Ans7

   team_name             defence
1  KV Oostende           162
2  Zagłębie Lubin        162
3  Odra Wodzisław        160
4  Jagiellonia Białystok 158
5  Lierse SK             158
6  KAS Eupen             155
7  Piast Gliwice         155
8  Widzew Łódź           155
9  Royal Excel Mouscron  154
10 Korona Kielce         153

Which are the top 10 teams by number of scored goals?

In [39]:
Data <- read.csv(file="team.csv", header=TRUE, sep=",")
DFrame = as.data.frame(Data)
Ans8 = sqldf('SELECT team_name, total_goals
FROM DFrame
ORDER BY total_goals DESC
LIMIT 10')
Ans8

   team_name         total_goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582