In [3]:
library(dplyr) 
library(RSQLite) 
my_db <- src_sqlite("flights_db.sqlite3", create = T)

In [4]:
library(nycflights13)
flights_sqlite <- copy_to(my_db, flights, temporary = FALSE, indexes = list(
c("year", "month", "day"), "carrier", "tailnum"))

In [5]:
flights_sqlite <- tbl(nycflights13_sqlite(), "flights")

Caching nycflights db at /tmp/RtmpJZUcZp/nycflights13.sqlite
Creating table: airlines
Creating table: airports
Creating table: flights
Creating table: planes
Creating table: weather

In [6]:
flights_sqlite

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [7]:
select(flights_sqlite,year:day,dep_time:arr_time)

Source:   query [?? x 7]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>
1   2013     1     1      517            515         2      830
2   2013     1     1      533            529         4      850
3   2013     1     1      542            540         2      923
4   2013     1     1      544            545        -1     1004
5   2013     1     1      554            600        -6      812
6   2013     1     1      554            558        -4      740
7   2013     1     1      555            600        -5      913
8   2013     1     1      557            600        -3      709
9   2013     1     1      557            600        -3      838
10  2013     1     1      558            600        -2      753
# ... with more rows

In [8]:
filter(flights_sqlite,sched_dep_time>1000 & dep_time>1100)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1     1101           1043        18     1345           1332
2   2013     1     1     1103           1100         3     1410           1421
3   2013     1     1     1105           1047        18     1428           1405
4   2013     1     1     1107           1115        -8     1305           1310
5   2013     1     1     1109           1115        -6     1402           1425
6   2013     1     1     1111           1115        -4     1222           1226
7   2013     1     1     1112           1100        12     1440           1438
8   2013     1     1     1113           1115        -2     1318           1315
9   2013     1     1     1120           1125        -5     1330           1325
10  2013     1     1     1123           1110        13     1410           1336
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [9]:
arrange(flights_sqlite, sched_dep_time )  #Arranges according to ascending order

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     7    27       NA            106        NA       NA            245
2   2013     1     2      458            500        -2      703            650
3   2013     1     3      458            500        -2      650            650
4   2013     1     4      456            500        -4      631            650
5   2013     1     5      458            500        -2      640            650
6   2013     1     6      458            500        -2      718            650
7   2013     1     7      454            500        -6      637            648
8   2013     1     8      454            500        -6      625            648
9   2013     1     9      457            500        -3      647            648
10  2013     1    10      450            500       -10      634            648
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [10]:
mutate(flights_sqlite, speed = air_time / distance)

Source:   query [?? x 20]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 12 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>, speed <dbl>

In [11]:
summarise(flights_sqlite, delay = mean(dep_time))

Source:   query [?? x 1]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

    delay
    <dbl>
1 1349.11

In [12]:
c1 <- filter(flights_sqlite, year == 2013, month == 5, day == 15)
c2 <- select(c1, year, month, day, carrier, dep_delay, air_time, distance)
c3 <- mutate(c2, speed = distance / air_time * 60)
c4 <- arrange(c3, year, month, day, carrier)
c4

Source:   query [?? x 8]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

    year month   day carrier dep_delay air_time distance    speed
   <int> <int> <int>   <chr>     <dbl>    <dbl>    <dbl>    <dbl>
1   2013     5    15      9E       -10       91      569 375.1648
2   2013     5    15      9E        -9       69      340 295.6522
3   2013     5    15      9E        -1       87      509 351.0345
4   2013     5    15      9E        -8      161     1029 383.4783
5   2013     5    15      9E        -3      122      740 363.9344
6   2013     5    15      9E        -3       41      213 311.7073
7   2013     5    15      9E        -7       43      187 260.9302
8   2013     5    15      9E       -13       99      659 399.3939
9   2013     5    15      9E        -6       35       94 161.1429
10  2013     5    15      9E       -12       84      549 392.1429
# ... with more rows

In [13]:
collect(c4)

    year month day carrier dep_delay air_time distance speed
1   2013 5     15  9E      -10        91       569     375.1648
2   2013 5     15  9E       -9        69       340     295.6522
3   2013 5     15  9E       -1        87       509     351.0345
4   2013 5     15  9E       -8       161      1029     383.4783
5   2013 5     15  9E       -3       122       740     363.9344
6   2013 5     15  9E       -3        41       213     311.7073
7   2013 5     15  9E       -7        43       187     260.9302
8   2013 5     15  9E      -13        99       659     399.3939
9   2013 5     15  9E       -6        35        94     161.1429
10  2013 5     15  9E      -12        84       549     392.1429
11  2013 5     15  9E      -10        82       488     357.0732
12  2013 5     15  9E       -4        42       187     267.1429
13  2013 5     15  9E      -10        90       569     379.3333
14  2013 5     15  9E       -3        29        94     194.4828
15  2013 5     15  9E       -4        41       184     269.2683
16  2013 5     15  9E       -9        60       301     301.0000
17  2013 5     15  9E       -8        41       213     311.7073
18  2013 5     15  9E       -5        46       228     297.3913
19  2013 5     15  9E       11        43       187     260.9302
20  2013 5     15  9E       -3       201      1391     415.2239
21  2013 5     15  9E       -1       126       740     352.3810
22  2013 5     15  9E       -9       110       765     417.2727
23  2013 5     15  9E       -2       161      1029     383.4783
24  2013 5     15  9E      -10       123       745     363.4146
25  2013 5     15  9E       -8        68       427     376.7647
26  2013 5     15  9E       68        93       665     429.0323
27  2013 5     15  9E      -10        86       569     396.9767
28  2013 5     15  9E       73        45       187     249.3333
29  2013 5     15  9E       48        73       425     349.3151
30  2013 5     15  9E       63       100       589     353.4000
⋮   ⋮    ⋮     ⋮   ⋮       ⋮         ⋮        ⋮        ⋮
938 2013 5     15  WN      -1        215      1605     447.9070
939 2013 5     15  WN      -4        223      1620     435.8744
940 2013 5     15  WN      -1        112       711     380.8929
941 2013 5     15  WN      -4        214      1504     421.6822
942 2013 5     15  WN       1        114       725     381.5789
943 2013 5     15  WN       0        116       738     381.7241
944 2013 5     15  WN       0        115       725     378.2609
945 2013 5     15  WN      -1        110       764     416.7273
946 2013 5     15  WN      -2        110       711     387.8182
947 2013 5     15  WN       2        125       872     418.5600
948 2013 5     15  WN      -3        120       738     369.0000
949 2013 5     15  WN       1        218      1620     445.8716
950 2013 5     15  WN      -3        198      1411     427.5758
951 2013 5     15  WN      -2        110       748     408.0000
952 2013 5     15  WN      10        114       725     381.5789
953 2013 5     15  WN      34        273      2133     468.7912
954 2013 5     15  WN      33        110       711     387.8182
955 2013 5     15  WN      64        234      1605     411.5385
956 2013 5     15  WN      16        127       888     419.5276
957 2013 5     15  WN      77        199      1411     425.4271
958 2013 5     15  WN      54        123       872     425.3659
959 2013 5     15  WN      15        113       764     405.6637
960 2013 5     15  WN      47        113       725     384.9558
961 2013 5     15  WN      56        111       711     384.3243
962 2013 5     15  WN      19        118       738     375.2542
963 2013 5     15  WN      77        162      1167     432.2222
964 2013 5     15  WN      13        113       725     384.9558
965 2013 5     15  WN      49        106       711     402.4528
966 2013 5     15  YV      62         48       229     286.2500
967 2013 5     15  YV      12         77       544     423.8961

In [14]:
c4$query

NULL

In [15]:
explain(c4)

<SQL>
SELECT *
FROM (SELECT `year`, `month`, `day`, `carrier`, `dep_delay`, `air_time`, `distance`, `distance` / `air_time` * 60.0 AS `speed`
FROM (SELECT `year` AS `year`, `month` AS `month`, `day` AS `day`, `carrier` AS `carrier`, `dep_delay` AS `dep_delay`, `air_time` AS `air_time`, `distance` AS `distance`
FROM (SELECT *
FROM `flights`
WHERE ((`year` = 2013.0) AND (`month` = 5.0) AND (`day` = 15.0)))))
ORDER BY `year`, `month`, `day`, `carrier`


<PLAN>
   addr       opcode p1    p2 p3           p4 p5 comment
1     0         Init  0    56  0              00      NA
2     1   SorterOpen  4     9  0       k(1,B) 00      NA
3     2     OpenRead  3   100  0           19 00      NA
4     3     OpenRead  5 22625  0     k(4,,,,) 02      NA
5     4         Real  0     1  0         2013 00      NA
6     5         Real  0     2  0            5 00      NA
7     6         Real  0     3  0           15 00      NA
8     7     Affinity  1     3  0          DDD 00      NA
9     8       SeekGE  5    36  1            3 00      NA
10    9        IdxGT  5    36  1            3 00      NA
11   10         Seek  5     0  3              00      NA
12   11       Column  5     0  8              00      NA
13   12       Column  5     1  9              00      NA
14   13       Column  5     2 10              00      NA
15   14       Column  3     9 11              00      NA
16   15       Column  3     5 12              00      NA
17   16 RealAffinity 12     0  0              00      NA
18   17       Column  3    14 13              00      NA
19   18 RealAffinity 13     0  0              00      NA
20   19       Column  3    15 14              00      NA
21   20 RealAffinity 14     0  0              00      NA
22   21       Divide 13    14 16              00      NA
23   22     Multiply 18    16 15              00      NA
24   23         Copy  8     4  0              00      NA
25   24         Copy  9     5  0              00      NA
26   25         Copy 10     6  0              00      NA
27   26         Copy 11     7  0              00      NA
28   27   MakeRecord  7     9 19              00      NA
29   28 SequenceTest  4    33  0              00      NA
30   29      Compare 20     4  3 k(4,B,B,B,B) 00      NA
31   30         Jump 31    34 31              00      NA
32   31        Gosub 23    40  0              00      NA
33   32  ResetSorter  4     0  0              00      NA
34   33         Move  4    20  3              00      NA
35   34 SorterInsert  4    19  0              00      NA
36   35         Next  5     9  1              00      NA
37   36        Close  3     0  0              00      NA
38   37        Close  5     0  0              00      NA
39   38        Gosub 23    40  0              00      NA
40   39         Goto  0    55  0              00      NA
41   40         Once  0    42  0              00      NA
42   41   OpenPseudo  6    24 10              00      NA
43   42   SorterSort  4    55  0              00      NA
44   43   SorterData  4    24  6              00      NA
45   44       Column  6     1  8              00      NA
46   45       Column  6     2  9              00      NA
47   46       Column  6     3 10              00      NA
48   47       Column  6     4 11              00      NA
49   48       Column  6     5 12              00      NA
50   49       Column  6     6 13              00      NA
51   50       Column  6     7 14              00      NA
52   51       Column  6     8 15              00      NA
53   52    ResultRow  8     8  0              00      NA
54   53   SorterNext  4    43  0              00      NA
55   54       Return 23     0  0              00      NA
56   55         Halt  0     0  0              00      NA
57   56  Transaction  0     0 16            0 01      NA
58   57    TableLock  0   100  0      flights 00      NA
59   58         Real  0    18  0           60 00      NA
60   59         Goto  0     1  0              00      NA

In [16]:
translate_sql(x)
translate_sql("x")
translate_sql(x == 1 && (y < 2 || z > 3))
translate_sql(x ^ 2 < 10)

<SQL> "x"

<SQL> 'x'

<SQL> "x" = 1.0 AND ("y" < 2.0 OR "z" > 3.0)

<SQL> POWER("x", 2.0) < 10.0

In [17]:
translate_sql(x %% 2 == 10)
translate_sql(1)
translate_sql(1L)

<SQL> "x" % 2.0 = 10.0

<SQL> 1.0

<SQL> 1

In [18]:
translate_sql(glob(x, y))
translate_sql(x %like% "ab*")

<SQL> GLOB("x", "y")

<SQL> "x" LIKE 'ab*'

In [19]:
by_tailnum <- group_by(flights_sqlite, tailnum)
delay <- summarise(by_tailnum,
  count = n(),
  dist = mean(distance),
  delay = mean(arr_delay)
)
delay <- filter(delay, count > 20, dist < 2000)
delay_local <- collect(delay)

In [20]:
by_tailnum

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]
Groups: tailnum

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [21]:
delay

Source:   query [?? x 4]
Database: sqlite 3.11.1 [/tmp/RtmpJZUcZp/nycflights13.sqlite]

   tailnum count     dist      delay
     <chr> <int>    <dbl>      <dbl>
1     <NA>  2512 710.2576         NA
2   N0EGMQ   371 676.1887  9.9829545
3   N10156   153 757.9477 12.7172414
4   N102UW    48 535.8750  2.9375000
5   N103US    46 535.1957 -6.9347826
6   N104UW    47 535.2553  1.8043478
7   N10575   289 519.7024 20.6914498
8   N105UW    45 524.8444 -0.2666667
9   N107US    41 528.7073 -5.7317073
10  N108UW    60 534.5000 -1.2500000
# ... with more rows

In [22]:
delay_local

     tailnum count dist     delay
1    NA      2512  710.2576         NA
2    N0EGMQ   371  676.1887  9.9829545
3    N10156   153  757.9477 12.7172414
4    N102UW    48  535.8750  2.9375000
5    N103US    46  535.1957 -6.9347826
6    N104UW    47  535.2553  1.8043478
7    N10575   289  519.7024 20.6914498
8    N105UW    45  524.8444 -0.2666667
9    N107US    41  528.7073 -5.7317073
10   N108UW    60  534.5000 -1.2500000
11   N109UW    48  535.8750 -2.5208333
12   N110UW    40  535.3750  2.8000000
13   N11106   129  771.4109 14.8809524
14   N11107   148  705.8649 15.0143885
15   N11109   148  714.0000 14.8510638
16   N11113   138  719.7754 15.7619048
17   N11119   148  723.3851 30.3065693
18   N11121   154  719.3701 10.3061224
19   N11127   124  748.1129 13.6050420
20   N11137   112  726.5982 20.5514019
21   N11140   157  747.2102 18.3120567
22   N11150   136  775.5588  8.8914729
23   N11155    98  779.1224 12.9895833
24   N11164   143  677.4476 21.6496350
25   N11165   159  752.8805  8.3466667
26   N11176   142  729.0704 20.4045802
27   N11181   125  705.4160  9.0750000
28   N11184   136  744.0515  6.9843750
29   N11187   133  733.8872 11.1904762
30   N11189   140  684.2714  6.7372263
⋮    ⋮       ⋮     ⋮        ⋮
2933 N984DL   58   904.7414  4.2280702
2934 N985AT   29   647.8966 15.0384615
2935 N985DL   63   905.1111  0.2539683
2936 N986AT   24   654.5417  0.1250000
2937 N986DL   73   943.7808  5.5833333
2938 N987AT   28   618.6071 37.3846154
2939 N987DL   55   922.8727 -3.2909091
2940 N988AT   37   642.9730 44.3428571
2941 N988DL   55   864.2000  9.4716981
2942 N989AT   66   694.8182 28.1935484
2943 N989DL   89   908.6854 11.0340909
2944 N990AT   71   731.6056 16.3857143
2945 N990DL   56   863.0357 12.4285714
2946 N991AT   25   659.8000 15.6800000
2947 N991DL   92   902.9239  7.3369565
2948 N992AT   38   637.1316 17.7837838
2949 N992DL   57   902.7544 -6.6491228
2950 N993AT   47   606.6809 10.4042553
2951 N993DL   55   884.9091 16.9811321
2952 N994AT   31   698.4839 31.4838710
2953 N994DL   61   886.7869  5.0327869
2954 N995DL   57   883.5789  1.9298246
2955 N996AT   29   673.8966  6.5384615
2956 N996DL  102   897.3039  0.5247525
2957 N997AT   44   679.0455 16.3023256
2958 N997DL   63   867.7619  4.9032258
2959 N998AT   26   593.5385 29.9600000
2960 N998DL   77   857.8182 16.3947368
2961 N999DN   61   895.4590 14.3114754
2962 N9EAMQ  248   674.6653  9.2352941